@model ModulePDF.Models.ListFilePDFViewModels
@{
    ViewBag.Title = "ListFilePDF";
}

<h2>ListFilePDF</h2>

<table class="table">
    <tr>
        <th>#</th>
        <th>File Name</th>
        <th>Update Date</th>
    </tr>

@{int i = 1;}
@foreach (var item in Model.ListFilePDF) {
    <tr>
        <td>
            @i
        </td>
        <td>
            @Html.ActionLink(item.FileName, "FilePDFDetail", new { id = item.IdFilePDF })
        </td>
        <td>
            @item.UpdateDate.ToString()
        </td>
    </tr>
    i = i + 1;
}

</table>
