@model ModulePDF.Models.ListFilePDFViewModels
@{
    ViewBag.Title = "ListFilePDF";
}

<h2>ListFilePDF</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

@{int i = 1;}
@foreach (var item in Model.ListFilePDF) {
    <tr>
        <td>
            @i |
            @Html.ActionLink(item.FileName, "FilePDFDetail", new { id=item.IdFilePDF }) |
            @item.UpdateDate.ToString()|
        </td>
    </tr>
    i = i + 1;
}

</table>
